# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Testing
.pytest_cache/
coverage.xml
.coverage

# IDEs and OS
.idea/
.vscode/
*.swp
*~
*.code-workspace
.DS_Store

# Service files (course assignments, team lists)
_task.md
team.md


# Keys and Secrets
*.pem
*.key

# Linting/Formatting
.ruff_cache/